<launch>
  
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <include
    file="$(find newtwo)/launch/terrian.launch" >
    <!-- <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/> -->
  </include>
  
  
  <param name="robot_description" command="$(find xacro)/xacro '$(find newtwo)/urdf/newtwo.urdf'"/>
  
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
             respawn="false" output="screen"
             args="-urdf -model newtwo -param robot_description -model mobile_base -x 0 -y 0 -z 0.20 " />

  
</launch>

